/* Put your CSS here */
.app-section {
	
}

.panel-container {
	/*padding-right: 80px;*/
}

.ui-control-group {
	padding-bottom: 10px;
}

.ui-control-group label {
	font-weight: normal;
}

.ui-control {
	height: 60px;
	margin-top: 20px;
}

.ui-control.ui-control-first {
	margin-top: 10px;
}

.content-container {
	display: inline-block;
	width: 100%;	
}

.content-container .row {
	margin-top: 10px;
}

.content-container h4 {
	padding-left: 15px;
}

.buttons-container {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

/************ DASHBOARD **********/
.dashboard-container {
	margin-left: 60px;
}

.gauge-block {
	 
}

.widget-container {
	margin-top: 60px;
}

.widget {

}

.kpi {
	display: inline-block;
	padding: 10px;
	border: 1px solid silver;
}

.gauge {

	padding-bottom: 0;

}


.widget-title,
.highcharts-yaxis-title {	
	margin-top: 15px;
	font-size: 18px;
	color: gray;
}

.kpi-title {
	width: 100%;	
	line-height: 10px;
	margin-left: 5px;
}

.gauge-title {
	width: 240px;
	line-height: 20px;
	text-align: center;
}

.kpi-value {
	font-size: 48px;
	color: steelblue;
}

.kpi-label {
	
	margin-left: 5px;
	
}

.hc-gauge {
	height: 180px;
	width: 240px;
}

.gauge-value {
	font-size: 25px;
	color: steelblue;
}

.gauge-label {
	font-size:12px;
	color:silver;
}

/************ LIST **************/
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
.list img {
  max-width: 100%;
}
.list h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
.list p {
  margin:0;
}

input.search {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input.search:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.list-element {
	height: 40px;
	cursor: pointer;
}

.list-element-header {
	height: 40px;
}

.list-element-content {
	display: none;
	opacity: 0;
	width: 100%;
}


