/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}
#sidebar .nav {
    width: 95%;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top:0;
    }
}

.main {
    width: 50%;
}

.slider-control {
    height: 1em;
    padding-top: .5em;
}

.slider {
    height: 2px;
    border: 1px solid black;
}

.slider-handle {
    height: 1em;
    width: 1em;
    border: 1px solid black;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
}
.slider-handle:hover {
    background: #ddd;
}

.rate-disable{
    pointer-events : none;
    opacity: 0.3;
}


/******************************************************************/
.advanced-header{
    color: #23c7d1;
}
.advanced-header h3{
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: solid 2px;
}
#rates h4{
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    color:gray;
}

.advanced-container{
    padding: 10px 0px;
    background: #f4f4f4;
}